# For variable descriptions look into defaults.def

DEF_DISABLE_ON=""
DEF_EXPORTS=""
DEF_FULL_NAME=""
DEF_HTTP_PATH=""
DEF_GIT_MODE=""
DEF_GIT_CHECKOUT=""
DEF_NAME=""
DEF_VERSION=""
DEF_SUFFIX=""
DEF_CONFIGURE_ARGS=""
DEF_REQUIREMENTS=""
DEF_COMPILER_FLAGS=""
DEF_LINKER_FLAGS=""
DEF_CONFIGURE=""
DEF_MAKE_METHOD=""
DEF_TEST_METHOD=""
DEF_INSTALL_METHOD=""
DEF_SOURCE_DIR_POSTFIX=""
DEF_AFTER_UNPACK_METHOD=""
DEF_AFTER_CONFIGURE_METHOD=""
DEF_AFTER_MAKE_METHOD=""
DEF_AFTER_INSTALL_METHOD=""
DEF_AFTER_PATCH_METHOD=""
DEF_AFTER_EXPORT_METHOD=""
DEF_SHA=""
DEF_USER_INFO=""
DEF_CONFLICTS_WITH=""
DEF_REQUIRE_ROOT_ACCESS=""
DEF_APPLE_BUNDLE=""
DEF_ORIGIN=""
DEF_STANDALONE=""
DEF_STRIP=""
DEF_USELESS=""
DEF_USEFUL=""
DEF_DEFAULT_USELESS=""
DEF_CLEAN_USELESS=""
DEF_NO_CCACHE=""
DEF_NO_LINKER_DTAGS=""
DEF_NO_GOLDEN_LINKER=""
DEF_NO_FAST_MATH=""
DEF_CMAKE_BUILD_DIR=""
